.searhresultsingle h1, .searhresultsingle p {
    display: block !important;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


.relatedimgs h2 {
    display: block !important;
    width: 100%;
    text-align: left;
}

.searhresultsingleimg img{
    width: 100%;
}

.searhresultsingle {
    margin-top: 51px;
    
}


.relatedimgs h2{
    margin-top: 70px;
    margin-bottom: 33px;
    
}


.relatedimgs {
    margin-bottom: 70px;
}

.searhresultsingle button.btn.btn-primary {
    background: #f5b11f;
    border-color: #f5b11f;
    color: white;
    padding: 12px;
    text-shadow: 0 0 4px rgba(0,0,0,.38);
    margin-top: 8px;
    padding: 0 40px;
    font-weight: 700;
    font-size: 22px;
}